.background {
  height: 275px;
  width: 275px;
  background-position: center !important;
  background-size: cover !important;
}

.containItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.containItem .titleName {
  width: 80%;
  color: #111111;
  font-family: 'galano-thin';
  font-size: 1em;
}

.price {
  font-size: 0.9em;
  color: #999999;
  text-decoration: line-through;
}

.salePrice {
  color: var(--primary);
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
}
