.basketTitle {
    padding: 20px 0;
    margin: 0;
    font-size: 1.25rem;
    font-family: 'galano', sans-serif;
}

.noOfItems {
    padding-left: 10px;
    font-size: 1rem;
    font-weight: lighter;
    font-family: 'galano', sans-serif;
}

.basketItem {
    padding-bottom: 25px;
}

.basketImage {
    position: relative;
    width: 100%;
    background-color: #f7f7f7;
}

.basketImage img {
    width: 100%;
}

.basketImageTag {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 13px;
    margin: 0;
    border: none;
    border-bottom-left-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    background-color: #40a9ff;
}

.basketData {
    padding-left: 20px;
    font-family: 'galano', sans-serif;
    color: #111;
}

.basketItemTitleAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 20px;
}

.basketItemTitle {
    font-size: 1rem;
    font-weight: bold;
    line-height: 17px;
    color: #333;
}

.basketStockWarning {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: lighter;
    color: #e86107;
}

.basketPrice {
    font-size: 1.125rem;
    line-height: 17px;
}

.basketColour,
.basketSize,
.basketQuantity {
    font-size: 0.8rem;
}

.basketQuantity {
    margin-top: 15px;
}

.basketButtonContainer {
    margin-top: 15px;
}

.basketButton,
.basketButton:hover,
.basketButton:focus {
    margin-right: 10px;
    padding: 0 20px;
    border: none;
    font-size: 0.8rem;
    background-color: #f3f3f3;
}

.basketEditItemBlock {
    display: none;
    margin-top: 15px;
    font-family: 'galano', sans-serif;
    color: #111;
}

.productOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.productSize,
.productQuantity {
    width: 49%;
    margin: 5px 0;
    font-size: 1rem;
}

.personalization {
    margin: 10px 0;
}

.personalizationTitle {
    padding: 10px 0;
    font-size: 0.8rem;
    font-weight: bold;
}

.personalizationControl {
    width: 100%;
}

.updateItemButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cancelButton,
.updateButton {
    width: 49%;
}

.cancelButton,
.cancelButton:hover,
.cancelButton:focus {
    border: none;
    color: #111;
    background-color: #cccccc;
}

.updateButton,
.updateButton:hover,
.updateButton:focus {
    border: none;
    color: #fff;
    background-color: #19a85e;
}

.summaryContainer {
    font-family: 'galano', sans-serif;
    color: #111;
}

.summaryTitle {
    padding: 20px 25px;
    margin: 0;
    border-bottom: 1px solid #f2f1f1;
    font-size: 1.25rem;
}

.basketSummary {
    padding: 25px 64px;
}

.basketSubTotal,
.basketCarriage,
.basketTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'galano', sans-serif;
    color: #111;
}

.basketCarriage {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.basketTotal {
    margin: 20px 0;
}

.basketCheckout,
.basketCheckout:hover,
.basketCheckout:focus {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1rem;
    color: #fff;
    background-color: #19a85e;
    font-family: 'galano', sans-serif;
}

.paymentGraphic {
    margin: 15px 0 5px;
    text-align: center;
}

.paymentLogos {
    max-width: 200px;
}

.checkoutDivider {
    margin: 28px auto 0;
    border-top: 1px solid #cccccc;
    color: #333;
    text-align: center;
}

.checkoutDivider span {
    position: relative;
    top: -16px;
    width: max-content;
    font-size: 14pt;
    background-color: #fafafa;
    display: inline-block;
}

.basketCheckSelection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.basketCheckoutPayPal,
.basketCheckoutAmazonPay {
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
    background: #000;
    border-radius: 3px;
}

.basketCheckoutPayPal img,
.basketCheckoutAmazonPay img {
    max-width: 75px;
}

.basketEmpty {
    width: 100%;
    padding: 100px;
}