.blogItem {
  border-radius: 4px;
  transition: all 0.35s;
}

.blogImage {
  width: 100%;
  margin-top: -16px;
}

.blogBackgroundImage {
  width: 100%;
  height: 35vh;
  border-radius: 4px;
  background-position: center !important;
  background-size: cover !important;
}

.contentTitle {
  padding: 0 10px;
}

.contentTitle p {
  color: #000000;
}

.title {
  font-weight: 600;
}
