.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 0;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    font-weight: 700;
    color: var(--secondary);
    /* show the marquee just outside the paragraph */
    animation: marquee 35s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}


/* Make it move */

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}