.headerWrapper {
  background-color: var(--secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.headerTitle {
  color: var(--primary);
  font-size: 1.14em;
  font-weight: 800;
  letter-spacing: 0.14px;
}

.headerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerNav>li {
  padding: 0 4px;
}

.headerNav>li>a {
  color: var(--primary);
  font-size: 1.07em;
}

.headerLinkContainer {
  margin-top: -12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerLinkContainer>div {
  padding-left: 20px;
  font-size: 1.17em;
}