.homeSellingPoints {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 9.3em;
    background: var(--secondary);
}

.homeSellingPoints .homeSellingPoint {
    display: block;
    font-size: 0.79em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.homeSellingPoints .homeSellingPoint img {
    width: 3.57em;
    height: auto;
    margin-right: 0.71em;
}