.brandContainer {
    width: 100%;
    height: 312px;
    position: relative;
}

.brandContainer .brandImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.brandContainer .brandImage img {
    width: 100%;
    height: 100%;
}

.brandContainer .brandContent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.brandContainer::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: .3s background ease-out;
}

.brandContainer:hover::after {
    background: none;
}

.brandContent {
    color: var(--secondary);
}

.brandContent .brandTitle {
    font-size: 1.42em;
    font-weight: 700;
}

.brandContainer:hover .brandContent {
    visibility: hidden;
}