figure {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

figure:hover img {
    opacity: 0;
}

.thumbImageItem {
    padding-bottom: 5px;
}

.thumbImageItem .thumbImage {
    width: 100%;
}

.imageZoomContainer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #efefef;
}

.imageZoomContainer .imageZoomed {
    width: 100%;
    pointer-events: none;
}

.imageZoomTag {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 25px;
    margin: 0;
    border: none;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #40a9ff;
}

h1.productName {
    font-size: 1.5625rem;
    font-weight: bold;
    font-family: 'galano', sans-serif;
}

.productCost {
    margin: 20px 0;
}

.pricePre {
    font-size: 0.9375rem;
    font-weight: 300;
    font-family: 'galano', sans-serif;
    color: #999;
    text-decoration: line-through;
}

.priceMainSpecial {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
    font-family: 'galano', sans-serif;
}

.btnSizeSelected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.addToCart {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-size: 0.875rem;
    font-family: 'galano', sans-serif;
    color: white;
    background: #4d4d4d;
}

.addToCart:hover,
.addToCart:focus,
.addToCart:active {
    background-color: #111;
    color: white;
}

.productMessage {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    font-family: 'galano', sans-serif;
}

.productMessage .iconMessage {
    margin-right: 8px;
}

.radioButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btnSizeSelected:hover,
.btnSizeSelected:focus,
.btnSizeSelected:active {
    color: #111;
}

.quantityCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.quantityCounter .minusButton,
.quantityCounter .plusButton {
    width: 31px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.quantityCounter .minusButton {
    background-image: url(https://www.lovellsoccer.co.uk/responsive-images/minus-simple.svg);
}

.quantityCounter .plusButton {
    background-image: url(https://www.lovellsoccer.co.uk/responsive-images/plus-simple.svg);
}

.quantityCounter .quantityWrapper {
    display: flex;
    align-items: center;
}

.quantityWrapper .counter,
.quantityWrapper .label {
    display: block;
    font-size: 0.8125rem;
    line-height: 24px;
    font-family: 'galano', sans-serif;
}

.quantityWrapper .counter {
    margin: 0 0 0 10px;
}