.productDataWrapper {
    padding: 25px 0;
}

.productDescription {
    font-family: 'galano', sans-serif;
    font-weight: lighter;
    color: #111;
}

.productSpecsLabel {
    font-weight: bold;
    color: #111;
}

.productSpecsValue {
    font-weight: lighter;
    color: #111;
}