@import '~antd/dist/antd.css';
:root {
    --primary: #000000;
    --secondary: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 16px;
}

div,
a,
span {
    font-family: 'Nunito Sans', sans-serif !important;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}