.footerWrapper {
    background-color: var(--primary);
    padding: 80px 0;
}

.footerTitle {
    color: var(--secondary);
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 0;
    margin-bottom: 14px;
}

.footerLinkContainer {
    padding: 6px 0;
}

.footerLink {
    color: #8e8e8e;
    font-size: 1.07em;
    transition: all .35s;
}

.footerLink:hover {
    color: var(--secondary);
}

.footerIcon {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.footerIcon svg {
    width: 40px;
    height: 40px;
}

.footerIconLink {
    color: var(--secondary);
}

.footerIconLink:hover {
    color: var(--secondary);
}

.search input {
    background: var(--primary)
}

.search button {
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);
}